<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.GoodsMapper">
	<select id="select" resultType="cn.tedu.store.bean.Goods">
		SELECT
			id,
			category_id AS categoryId,
			item_type AS itemType,
			title,
			sell_point AS sellPoint,
			price,
			num,
			barcode,
			image,
			status,
			priority,
			created_user AS createdUser,
			created_time AS createdTimer,
			modified_user AS modifiedUser,
			modified_time AS modifiedTime
		FROM 
			t_goods
		WHERE
			category_id=#{categoryId} 
			AND num>0
			AND status=1
		ORDER BY
			priority DESC
		LIMIT #{offset},#{count};
	</select>
	
	<!-- Integer selectCount(Integer categoryId); -->
	<!-- 根据categoryId查询商品数量 -->
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM
			t_goods
		WHERE
			category_id=#{categoryId};
	</select>
	<!-- Goods selectByGoodsId(Integer id); -->
	<!--  根据id查找商品详情-->
	<select id="selectByGoodsId" resultType="cn.tedu.store.bean.Goods">
		SELECT
			id,
			category_id AS categoryId,
			item_type AS itemType,
			title,
			sell_point AS sellPoint,
			price,
			num,
			barcode,
			image,
			status,
			priority,
			created_user AS createdUser,
			created_time AS createdTimer,
			modified_user AS modifiedUser,
			modified_time AS modifiedTime
		FROM
			t_goods
		WHERE
			id=#{id};
	</select>
	<!-- 根据商品ID 修改商品数量 -->
	<!--void updateNumById(@Param("num")String id,@Param("num")Integer num);  -->
	<update id="updateNumById">
		UPDATE t_goods SET num=#{num} WHERE id=#{id}
	</update>
</mapper>
















